@page "/dynamic/todo-app"

<h3>Velkommen til Todo-applikasjonen..✨✨✨✨ </h3><br>



<p>
    Applikasjonen fordelt på to separate komponenter:
</p><br>

<p><strong>Todo-komponent:</strong> Denne komponenten lar brukeren legge til nye gjøremål, markere dem som fullført, og slette gjøremål.</p><p></p>
<p><strong>Fullførte-komponent:</strong> Denne komponenten viser gjøremål som er markert som fullført, med muligheten for å "angre" og flytte dem tilbake til Todo-komponenten.</p>

